@model Road.Models.ViewModel.MachineViewModel

@{
    WebGrid grid = new WebGrid(source: Model.Maches);
}


<script type="text/javascript">
    $(function () {
        $('.editDialog').click(function () {
            $('<div/>').appendTo('body').dialog({
                resizable: true,
                title: "Edit",
                dialogClass:"showdetails",
                height: 350,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: false,
                draggable: true,
            }).load(this.href, {});

            return false;
        });
    });
</script>



<div class="container">
    <div class="panel panel-info">
        <div class="panel panel-heading">
            Machines/Vehicles
        </div>
        <div class="panel panel-body">
            @grid.GetHtml(
                htmlAttributes: new { @class = "table table-striped table-condensed" },
                columns: grid.Columns(
                    grid.Column("Mach_No", "Machine Number"),
                    grid.Column("Mach_Desc", "Machine Description"),
                    grid.Column("Lease_Rate", "Lease Rate",format:(item)=>string.Format("{0:c2}",item.Lease_Rate)),
                    grid.Column("tblOwner.Owner_Name", "Owner"),
                    grid.Column("Active", "Active", format: (item) => @Html.Raw("<input type='checkbox' " + ((item.Active == true) ? "checked" : "") + " disabled='true' />")),
                    grid.Column("", format: @<text>
                        @Html.ActionLink("Edit", "ShowEdit", new { id = item.Mach_No }, new { @class = "editDialog" })</text>)
                    ))
        </div>
    </div>
</div>

<div id="dialog-edit" >
</div>